<h3>Current Questions: </h3>

{{new-question addQuestion='addQuestion'}}

{{#each model as |question|}}
  <div class='mainQuestions'>
    <p>{{#link-to 'question' question.id}}{{question.content}}{{/link-to}}</p>
    <p>post by: {{question.author}}</p>
  </div>
{{/each}}
