<h3>Current Questions: </h3>

{{new-question addQuestion='addQuestion'}}

{{#each model as |question|}}
  <p>{{#link-to 'question' question.id}}{{question.content}}{{/link-to}}</p>
  <p>post by: {{question.author}}</p>
{{/each}}
